:root {
  --primary: #00d67a;
}

/* Green Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00d67a;
  --primary-hover: #00d67a;
  --primary-focus: rgba(67, 160, 71, 0.125);
  --primary-inverse: #fff;
}

/* Green Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #00d67a;
    --primary-hover: #00d67a;
    --primary-focus: rgba(67, 160, 71, 0.25);
    --primary-inverse: #fff;
  }
}

/* Green Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #00d67a;
  --primary-hover: #00d67a;
  --primary-focus: rgba(67, 160, 71, 0.25);
  --primary-inverse: #fff;
}

/* Green (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.btn-md {
  width: 200px;
}

.btn-box {
  margin-top: -100px;
}

/* 화면 중앙에 위치시키려는 요소를 감싸는 컨테이너에 스타일을 적용합니다. */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 380px); /* 네브바 높이와 푸터 높으만큼 빼서 최소 높이 설정 */
}
